{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
    <h1 class="my-4">{% if form.instance.pk %}{% trans "タスクの編集" %}{% else %}{% trans "タスクの作成" %}{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="form-group">
            {{ form.due_date.label_tag }}
            {{ form.due_date }}
        </div>
        <div class="form-group">
            {{ form.urgency.label_tag }}  <!-- 緊急度フィールドのラベル -->
            {{ form.urgency }}            <!-- 緊急度フィールド -->
        </div>
        <div class="form-group">
            {{ form.progress.label_tag }}
            {{ form.progress }}
        </div>
        <div class="form-group">
            {{ form.attachment.label_tag }}
            {{ form.attachment }}
        </div>
        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
        <div class="form-group form-check">
            {{ form.is_completed }}
            {{ form.is_completed.label_tag }}
        </div>
<div class="form-group">
    {{ form.parent.label_tag }}
    {{ form.parent }}
</div>
    <!-- 関連タスクの選択フィールド -->
    <div class="form-group">
        {{ form.related_task.label_tag }}
        {{ form.related_task }}
    </div>
        <button type="submit" class="btn btn-primary">{% trans "保存" %}</button>
        <a href="{% url 'tasks:task_list' %}" class="btn btn-secondary">{% trans "戻る" %}</a>
    </form>
</div>
{% endblock %}